<template>
  <div class='header-b'>
  <div class='content'>
    <div id='kiskadee_name'>
      <span> {{ say_my_name }} </span>
    </div>
      <input class='search-container' type="text" placeholder="Search a package">
  </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      say_my_name: 'Kiskadee'
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.header-b {
  position: absolute;
  width: 100%;
  top: 0;
  box-shadow: 1px 1px 1px #888888;
}

.content {
  width: 100%;
  height: 40px;
  top: 0;
}

.search-container {
  position: relative;
  float: right;
  left: -15px;
  top: -10px;
  height: 20px;
}

#kiskadee_name {
  position: relative;
  left: 15px;
  top: 15px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
