<template>
<div class="list-pkgs">
  <md-button v-on:click="updateTable">Update Table</md-button>
    <el-table :data="tableData" border>
      <el-table-column prop="name" label="Package" sortable="custom">
      </el-table-column>
      <el-table-column prop="id" label="Package id" sortable="custom">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from 'axios'

export default({
  data () {
    return {
      tableData: [],
      searchDef: {
        show: false
      }
    }
  },
  methods: {
    updateTable: function () {
      getPackages().then(response => {
        this.tableData = response.data.packages
        console.log(this)
      })
    }
  },
  created () {
    getPackages().then(response => {
      this.tableData = response.data.packages
    })
  }
})

function getPackages () {
  var axiosInstance = axios.create({
    baseURL: 'http://0.0.0.0:5000',
    timeout: 1000
  })
  return axiosInstance.get('/packages')
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.list-pkgs {
  position: relative;
  top: 50px;
}
</style>
