<template>
        <md-toolbar>
        <md-layout md-order="start">
        <md-layout :md-flex="5">
          <md-icon>menu</md-icon>
        </md-layout>
        <md-layout :md-flex="15">
          <h2 class="md-title;">Kiskadee</h2>
        </md-layout>

        <md-layout md-flex-offset="50" >
            <form novalidate @submit.stop.prevent="submit">
              <md-input-container>
                <md-input placeholder="Find package"></md-input>
              </md-input-container>
            </form>
        </md-layout>
      </md-layout>
      </md-toolbar>
</template>

<script>
import Vue from 'vue'
var VueMaterial = require('vue-material')
require('vue-material/dist/vue-material.css')
Vue.use(VueMaterial)

export default({
  el: '#app'
})
</script>
